.moviecard {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    flex-grow: 0;
    padding: 1rem;
    cursor: pointer;

    border-radius: 0.25rem;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.moviecard__title {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.moviecard__rating {
    font-size: 1.75rem;
    font-weight: 700;
    color: rgb(225, 142, 27);
}

.moviecard__info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}