*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #141414;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 700;
}

p {
    margin: 0;
    font-weight: 400;
}